@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .rotate-y-0 {
    transform: rotateY(0deg);
  }
  .backface-visibility-hidden {
    backface-visibility: hidden;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.card-before,
.card-after {
  transition: transform 0.5s ease-out;
  backface-visibility: hidden;
}

.card-container.flipped .card-before {
  transform: rotateY(180deg);
}
.card-container.flipped .card-after {
  transform: rotateY(0deg);
}
